USE [BD_TiendaDonPedro]
GO
/****** Object:  Table [dbo].[TBL_CATEGORIA]    Script Date: 9/04/2025 4:46:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CATEGORIA](
	[ID_CATEGORIA] [bigint] IDENTITY(1,1) NOT NULL,
	[DES_CATEGORIA] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_CLIENTE]    Script Date: 9/04/2025 4:46:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CLIENTE](
	[ID_CLIENTE] [bigint] IDENTITY(1,1) NOT NULL,
	[NOMBRE_CLIENTE] [nvarchar](200) NULL,
	[DIRECCION_CLIENTE] [nvarchar](200) NULL,
	[EMAIL_CLIENTE] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_DETALLEFACTURA]    Script Date: 9/04/2025 4:46:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_DETALLEFACTURA](
	[ID_DETALLE] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_FACTURA] [bigint] NULL,
	[ID_PRODUCTO] [bigint] NULL,
	[CANTIDAD] [bigint] NULL,
	[PRECIOUNIT] [bigint] NULL,
	[VALORIVA] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DETALLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_FACTURAVENTA]    Script Date: 9/04/2025 4:46:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_FACTURAVENTA](
	[ID_FACTURA] [bigint] IDENTITY(1,1) NOT NULL,
	[FECHA_FACTURA] [datetime] NULL,
	[ID_USUARIO] [bigint] NULL,
	[ID_CLIENTE] [bigint] NULL,
	[TOTAL_FACTURA] [bigint] NULL,
	[ESTADO_FACTURA] [nvarchar](200) NULL,
 CONSTRAINT [PK__TBL_FACT__4A921BEDF0D70318] PRIMARY KEY CLUSTERED 
(
	[ID_FACTURA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PRODUCTO]    Script Date: 9/04/2025 4:46:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PRODUCTO](
	[ID_PRODUCTO] [bigint] IDENTITY(1,1) NOT NULL,
	[NOMBRE_PRODUCTO] [nvarchar](200) NULL,
	[PRECIO_PRODUCTO] [bigint] NULL,
	[STOCK_PRODUCTO] [bigint] NULL,
	[IVA_PRODUCTO] [float] NULL,
	[ID_CATEGORIA] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_USUARIO]    Script Date: 9/04/2025 4:46:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_USUARIO](
	[ID_USUARIO] [bigint] IDENTITY(1,1) NOT NULL,
	[ALIAS_USUARIO] [nvarchar](200) NULL,
	[NOMBRE_USUARIO] [nvarchar](200) NULL,
	[APELLIDO_USUARIO] [nvarchar](200) NULL,
	[PASSWORD_USUARIO] [nvarchar](200) NULL,
	[ROL_USUARIO] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_DETALLEFACTURA]  WITH CHECK ADD  CONSTRAINT [FK_TBL_DETALLEFACTURA_TBL_FACTURAVENTA] FOREIGN KEY([ID_FACTURA])
REFERENCES [dbo].[TBL_FACTURAVENTA] ([ID_FACTURA])
GO
ALTER TABLE [dbo].[TBL_DETALLEFACTURA] CHECK CONSTRAINT [FK_TBL_DETALLEFACTURA_TBL_FACTURAVENTA]
GO
ALTER TABLE [dbo].[TBL_DETALLEFACTURA]  WITH CHECK ADD  CONSTRAINT [FK_TBL_DETALLEFACTURA_TBL_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[TBL_PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[TBL_DETALLEFACTURA] CHECK CONSTRAINT [FK_TBL_DETALLEFACTURA_TBL_PRODUCTO]
GO
ALTER TABLE [dbo].[TBL_FACTURAVENTA]  WITH CHECK ADD  CONSTRAINT [FK_TBL_FACTURAVENTA_TBL_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[TBL_CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[TBL_FACTURAVENTA] CHECK CONSTRAINT [FK_TBL_FACTURAVENTA_TBL_CLIENTE]
GO
ALTER TABLE [dbo].[TBL_FACTURAVENTA]  WITH CHECK ADD  CONSTRAINT [FK_TBL_FACTURAVENTA_TBL_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[TBL_USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[TBL_FACTURAVENTA] CHECK CONSTRAINT [FK_TBL_FACTURAVENTA_TBL_USUARIO]
GO
ALTER TABLE [dbo].[TBL_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_TBL_PRODUCTO_TBL_CATEGORIA] FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[TBL_CATEGORIA] ([ID_CATEGORIA])
GO
ALTER TABLE [dbo].[TBL_PRODUCTO] CHECK CONSTRAINT [FK_TBL_PRODUCTO_TBL_CATEGORIA]
GO
